<h1>Books#request</h1>
<p>Find me in app/views/books/request.html.erb</p>
<%= button_to "Generate", books_request_books_path()%>
<%= button_to "Check", books_check_books_path()%>
<%= button_to "Batch", books_batch_books_path()%>